<style>
  body {
    margin: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar a {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .title {
    color: #0b67b2;
    font-weight: bold;
  }

  .main-content {
    padding: 2rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
  }

  th,
  td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }
</style>

<nav class="navbar">
  <div class="title">CRUD</div>
  <div class="links">
    <a mat-raised-button routerLink="/categorias">Categorias</a>
    <a mat-raised-button routerLink="/clientes">Clientes</a>
    <a mat-raised-button routerLink="/facturas">Facturas</a>
    <a mat-raised-button routerLink="/productos">Productos</a>
    <a mat-raised-button routerLink="/proveedores">Proveedores</a>
    <a mat-raised-button routerLink="/ventas">Ventas</a>
  </div>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
